  <div class="klax-section klax-spacer-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= form_with(model: @user, scope: :session, local: true, class: "form-horizontal") do |f| %>
            <div class="form-group form-group-lg">
              <div class="col-md-3">
              </div>
              <%= f.label :email, class: 'col-sm-1' %>
              <div class="col-md-5">
                <div class="input-group">
                  <%= f.email_field :email, class: 'form-control' %>
                  <span class="input-group-btn">
                    <%= f.submit "Login", class: "btn btn-default btn-lg" %>
                  </span>
                </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>