  <div class="klax-section klax-spacer-lg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" method="POST" action="<%= create_session_path(return_to: params[:return_to]) %>">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <div class="form-group form-group-lg">
              <div class="col-md-3">
              </div>
              <label class="col-sm-1">Email</label>
              <div class="col-md-5">
                <div class="input-group">
                  <input name="email" class="form-control" value="<% if @user != nil %><%= @user.email %><% end %>" type="text" id="formGroupInputLarge">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="submit">Login</button>
                  </span>
                </div>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>