<style>
#navbar { display: none !important; }
</style>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Email Sent</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Check your email and find the link to log in to Klaxon.</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>
