<% content_for(:body_classes) { 'login-page' } %>

<div class="klax-hero">
  <div class="klax-section klax-topper klax-lead">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1><span class="visible-lg-inline visible-md-inline visible-sm-inline visible-xs-block">✨</span> You’ll know first.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
          <p class="lead">Klaxon enables reporters and editors to monitor scores of sites and files on the web for newsworthy changes. Get email and Slack notifications when something changes.</p>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
  <%= render 'sessions/login_form.html.erb' %>
</div>
<div class="klax-section klax-topper klax-footer">
  <div class="container">
    <p style="margin-bottom: 0;">Created at <b><a href="https://themarshallproject.org">The Marshall Project.</a></b>
    </p>
  </div>
</div>
