ADMIN_EMAILS="admin@news.org"
HOST='localhost:3000'
PORT=3000

# Database settings
DATABASE_URL=postgresql://<APP USERNAME>:<APP PASSWORD>@<AURORA WRITER INSTANCE ENDPOINT>:<PORT>/<DB NAME>

# App settings
RACK_ENV=development
RAILS_ENV=development
SECRET_KEY_BASE="secret_key_base"
LAUNCHY_DRY_RUN=true # stop letter_opener from attempting to open a browser
BROWSER=/dev/null