<div class="container">
   <div class="klax-app-name">
    Klaxon
  </div>
  <h3>Login</h3>

  <p class="klax-lead">Thank you for using Klaxon.</p>

  <p><a class="klax-button" href="<%= @url %>">Go to Dashboard</a></p>

  <p class="klax-fine-print">You're receiving this email because you just tried to log into your <a href="https://newsklaxon.org">Klaxon account.</a></p>
</div>
