<div class="container">
    <div class="klax-app-name">
    Klaxon
  </div>
  <h2>Welcome</h2>

  <p class="klax-lead">Thanks for joining and have a great day! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>

  <p><a class="klax-button" href="<%= @url %>">Login</a></p>

  <p class="klax-fine-print">You're recieving this email because you have a <a href="https://newsklaxon.org">Klaxon account.</a></p>
</div>
