<div class="container">
    <div class="klax-app-name">
    Klaxon
  </div>
  <h2>Login</h2>

  <p class="klax-lead">Thank you for using Klaxon. Click the button below to sign in. Your organization has tracked <b>TK TK</b> changes to web pages and files since <b>TK TK</b></p>

  <p><a class="klax-button" href="<%= @url %>">Go to Dashboard</a></p>

  <p class="klax-fine-print">You're recieving this email because you just tried to log into your <a href="https://newsklaxon.org">Klaxon account.</a></p>
</div>
