<div class="container">
  <div class="klax-app-name">
    Klaxon
  </div>

  <h2>Welcome</h2>

  <p class="klax-lead">You have a new Klaxon account!</p>
  <p><a class="klax-button" href="<%= @url %>">Login</a></p>

</div>
