<!doctype>
<html>
<head>
<style>
html, body {
  margin: 0;
  padding: 0;
}
body {
  border-left: 2px solid rgba(0, 0, 0, 0.5);
  background: #EFEFEF;
  padding: 20px;
  font-family: Helvetica, sans-serif;
}
</style>
</head>
<body>
  <p>the body</p>
  <script>console.log('inside the iframe!');</script>
</body>
</html>
