  <h4 style="margin-top: 0;" class="klax-spacer-md">Activity</h4>

  <h2 style="margin-top: 0;"><%= PageSnapshot.count %></h2>

  <% # TODO: refactor %>
  <% first_use = Page.order('created_at DESC').first.created_at.strftime("%A, %B %d, %Y") rescue '??' %>
  <p class="lead klax-spacer-sm">total times changes since you first started using Klaxon which was <%= first_use %>.</p>

  <h2><%= Page.count %></h2>
  <p class="lead klax-spacer-sm">pages being watched by <%= User.count %> users.</p>

  <h2>TK</h2>
  <p class="lead klax-spacer-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
