<% if @changes.empty? %>

<%= render partial:'layouts/bookmarklet' %>

<% else %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Feed</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Below is a quick look at everything Klaxon is monitoring for your organization, even those you don’t subscribe to. Each line represents a change to an item, known as a “snapshot.” </p>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div><!-- /.container -->
</div>
<div class="klax-section">
  <div class="container">
    <div class="row">
        <div class="col-md-9">
          <h4 style="margin-top: 0;" class="klax-spacer-md">The Latest</h4>

          <% @changes.each do |change| %>
            <%= render partial: 'watching/feed_change', locals: { change: change } %>
          <% end %>

        </div>

        <div class="col-md-3">
          <%= render partial: 'watching/activity' %>
        </div>

    </div>
  </div>
</div>

<% end %>
