<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>New User</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">All users can create, edit and delete items in Klaxon.</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>
<%= render 'form' %>