<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>New Slack Integration</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Integrations allow you to push alerts to various platforms. For now, Klaxon supports Slack. We hope to add more in the future. If you’re interested in helping, <a href="github.com/themarshallproject/klaxon">visit our repo.</a></p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>
<%= render 'form' %>