<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Watch a New Item</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Watching an item means that each time it changes, Klaxon will save a version of it, known as a “snapshot.”</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>

<%= render 'form' %>