default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: klaxon_development
  username: <%= `whoami` %>
  host: localhost
  port: 5432

test:
  <<: *default
  database: klaxon_test
  username: <%= ENV['PGUSER'] || `whoami` %>
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
