<% bookmarklet_js = "javascript:(function(){document.body.appendChild(document.createElement('script')).src='#{inject_url()}';})();" %>

<div class="klax-topper">
  <div class="container">
    <div class="jumbotron">
      <h1 class="klax-no-border">Watch Your First Item</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
      <p><a class="btn btn-lg" href="<%= bookmarklet_js %>" role="button">Add to Klaxon</a></p>
    </div>
  </div>
</div>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Feed</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section">
  <div class="container">
    <div class="row">
        <div class="col-md-9">
          <h4 style="margin-top: 0;" class="klax-spacer-md">The Latest</h4>
            <!-- item -->
            <div class="klax-spacer-md klax-feed-item">
              <div class="row">
                <div class="col-md-3">
                  <p><small>4 p.m. on 04/26/16</small></p>
                </div>
                <div class="col-md-6">
                    <p class="lead"><a href="/diff">Report on the Investigation of the Ferguson Police Department changed</a></p>
                    <p><small><b>Note:</b> adds a small change in two of the data sets</small></p>
                </div>
                <div class="col-md-3">
                    <p><small>Created by <b>Tom Meagher</b></small></p>
                    <p><small><a href="">Go to Source</a>&nbsp;&nbsp;&nbsp;<a href="/watching/pages/1/edit">Edit</a></small></p>
                </div>
              </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="klax-spacer-md klax-feed-item">
              <div class="row">
                <div class="col-md-3">
                  <p><small>4 p.m. on 04/26/16</small></p>
                </div>
                <div class="col-md-6">
                    <p class="lead"><a href="/diff">Report on the Investigation of the Ferguson Police Department changed</a></p>
                </div>
                <div class="col-md-3">
                    <p><small>Created by <b>Tom Meagher</b></small></p>
                    <p><small><a href="">Go to Source</a>&nbsp;&nbsp;&nbsp;<a href="/watching/pages/1/edit">Edit</a></small></p>
                </div>
              </div>
            </div>
            <!-- item -->
            <!-- item -->
            <div class="klax-spacer-md klax-feed-item">
              <div class="row">
                <div class="col-md-3">
                  <p><small>4 p.m. on 04/26/16</small></p>
                </div>
                <div class="col-md-6">
                    <p class="lead"><a href="/diff">Report on the Investigation of the Ferguson Police Department changed</a></p>
                </div>
                <div class="col-md-3">
                    <p><small>Created by <b>Tom Meagher</b></small></p>
                    <p><small><a href="">Go to Source</a>&nbsp;&nbsp;&nbsp;<a href="/watching/pages/1/edit">Edit</a></small></p>
                </div>
              </div>
            </div>
            <!-- item -->

        </div>

        <div class="col-md-3">
          <h4 style="margin-top: 0;" class="klax-spacer-md">Activity</h4>
          <h2 style="margin-top: 0;">150</h2>
          <p>total times the item has changed since you started watching it, which was Wednesday, May 26, 2016.</p>
          <h2>912</h2>
          <p>total times the item has changed since you started watching it, which was Wednesday, May 26, 2016.</p>
          <h2>93%</h2>
          <p>total times the item has changed since you started watching it, which was Wednesday, May 26, 2016.</p>
        </div>

    </div>
  </div>
</div>