<style>

.klax-help {
  font-size: 16px;
  line-height: 1.6em;
}

.klax-help h1, .klax-help h2, .klax-help h3, .klax-help h4, .klax-help h5, .klax-help h6 {
  margin-top: 60px;
  margin-bottom: 25px;
}

p {
  margin-bottom: 25px;
}

img {
  margin: 40px 0;
  max-width: 750px;
}


@media (min-width: 768px) {
  .lead svg {
    width: 17px;
    height: 17px;
  }
}
</style>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Help</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Klaxon enables reporters and editors to monitor scores of sites and files on the web for newsworthy changes. Get email and Slack notifications when something changes. It’s an open source project being built by <svg width="13px" height="13px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 223.2 223.2" enable-background="new 0 0 223.2 223.2" xml:space="preserve"><g><g><polygon fill="#ff0b3a" points="3.6,3.6 3.6,219.6 34.5,219.6 34.5,34.5    "></polygon><polygon fill="#ff0b3a" points="65.3,65.3 65.3,219.6 96.2,219.6 96.2,96.2     "></polygon><polygon fill="#ff0b3a" points="188.7,34.5 188.7,219.6 219.6,219.6 219.6,3.6    "></polygon><polygon fill="#ff0b3a" points="127,96.2 127,219.6 157.9,219.6 157.9,65.3     "></polygon></g></g></svg> <a href="https://themarshallproject.org">The Marshall Project.</a></p>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-topper klax-help">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= @html.html_safe %>
      </div>
    </div>
  </div>
</div>

<iframe src="https://docs.google.com/forms/d/1I_oTN-tiPJKQYSzP_FyP5JEfJ1w3Mv7VJuriO0QxbnA/viewform?embedded=true" width="100%" height="800px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
