
<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Compare Versions</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
      </div>
      <div class="col-md-3">
        <!-- negative space -->
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div><!-- /.container -->
</div>



<div class="klax-section klax-spacer-lg">
  <div class="container">
    

    <div class="row">
      <div class="col-md-6">
        <h4 class="klax-spacer-md">Select the Older Version</h4>
        <!-- row -->
        <div class="row klax-spacer-sm">
          <div class="col-md-3">
            <div class="radio" style="margin: 0;">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <code>85f39610</code>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <p>Monday, April 18, 2016 at 13:05</p>
          </div>
          <div class="col-md-5">
            <p><b>added a new version of the data to the longer description of the change</b></p>
          </div>
        </div>
        <!-- end row --> 
        <!-- row -->
        <div class="row klax-spacer-sm">
          <div class="col-md-3">
            <div class="radio" style="margin: 0;">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <code>85f39610</code>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <p>Monday, April 18, 2016 at 13:05</p>
          </div>
          <div class="col-md-5">
            <p><b>added a new version of the data to the longer description of the change</b></p>
          </div>
        </div>
        <!-- end row --> 
      </div>
      <div class="col-md-6">
        <h4 class="klax-spacer-md">Select the Newer Version</h4>
        <!-- row -->
        <div class="row klax-spacer-sm">
          <div class="col-md-3">
            <div class="radio" style="margin: 0;">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <code>85f39610</code>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <p>Monday, April 18, 2016 at 13:05</p>
          </div>
          <div class="col-md-5">
            <p><b>added a new version of the data to the longer description of the change</b></p>
          </div>
        </div>
        <!-- end row --> 
        <!-- row -->
        <div class="row klax-spacer-sm">
          <div class="col-md-3">
            <div class="radio" style="margin: 0;">
              <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                <code>85f39610</code>
              </label>
            </div>
          </div>
          <div class="col-md-3">
            <p>Monday, April 18, 2016 at 13:05</p>
          </div>
          <div class="col-md-5">
            <p><b>added a new version of the data to the longer description of the change</b></p>
          </div>
        </div>
        <!-- end row --> 
      </div>
    </div>
  </div><!-- /.container -->
</div>

