<% bookmarklet_js = "javascript:(function(){document.body.appendChild(document.createElement('script')).src='#{inject_url()}';})();" %>

<a class="btn btn-lg" href="<%= bookmarklet_js %>" role="button">Klaxon</a>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Comparing Changes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
      </div>
      <div class="col-md-3">
        <!-- negative space -->
      </div>
      <div class="col-md-3">
        <%= link_to 'Create a New User', new_user_path, class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row klax-spacer-md">
      <div class="col-md-12">
        <h4>What Changed?</h4>
      </div>
    </div>
    <div class="row">
      <form class="form-horizontal">
        <div class="form-group form-group-lg">
          <div class="col-sm-12">
            <input class="form-control"/>
          </div>
        </div>
        <div class="form-group form-group-lg">
          <div class="col-md-9">
            <!-- negative space -->
          </div>
          <div class="col-md-3">
            <%= link_to 'Save', new_user_path, class: 'btn btn-default btn-lg btn-block' %>
          </div>
        </div>
      </form>
    </div>
  </div><!-- /.container -->
</div>


<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row klax-spacer-md">
      <div class="col-md-12">
        <h4>Activity</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 klax-spacer-md">
        <h2>150</h2>
        <p class="lead">total times the item has changed since you started watching it, which was Wednesday, May 26, 2016.</p>
      </div>
      <div class="col-md-3 klax-spacer-md">
        <h2>99.8%</h2>
        <p class="lead">is the average amount of the item that changes.</p>
      </div>
      <div class="col-md-3 klax-spacer-md">
        <h2>Six</h2>
        <p class="lead">days, roughly, between each change. We anticipate the next change will occur on Tuesday, February 9, 2017 at about 7:15 p.m.</p>
      </div>
      <div class="col-md-3 klax-spacer-md">
        <h2>12</h2>
        <p class="lead">days since the last change was captured on Wednesday, February 1, 2016 at 5:30 p.m.</p>
      </div>
    </div>
  </div><!-- /.container -->
</div>