
<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row klax-spacer-md">
      <div class="col-md-12">
        <h4>Notifications</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 klax-spacer-md">
        <h5>Email Subscriptions</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Ivar Vong
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Tom Meagher
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Bill Keller
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Gabriel Dance
          </label>
        </div>
      </div>
      <div class="col-md-3 klax-spacer-md">
        <h5>Slack</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            #general
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            #klaxon
          </label>
        </div>
      </div>
      <div class="col-md-3 klax-spacer-md">
        <h5>Twitter</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            @ivarvong
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            @ultracasual
          </label>
        </div>
      </div>
      <div class="col-md-3 klax-spacer-md">
        <h5>RSS</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">
            Enabled
          </label>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-default btn-lg btn-block">Save</button>
      </div>
    </div>
  </div><!-- /.container -->
</div>
