<style>
#navbar { display: none !important; }
</style>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Email Not Found</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">If you have an existing account, you might have typed your email wrong. <a href="/">Try again.</a> If not, contact your adminstrator.</p>
      </div>
      <div class="col-md-6">
        <!-- negative space -->
      </div>
    </div>
  </div><!-- /.container -->
</div>