
<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Integrations</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Integrations allow you to push alerts to various platforms. For now, Klaxon supports Slack. We hope to add more in the future. If you’re interested in helping, <a href="github.com/themarshallproject/klaxon">visit our repo.</a></p>
      </div>
       <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div><!-- /.container -->
</div>


<div class="klax-topper">
  <div class="container">
  	<div class="row">
      <div class="col-md-9">
          <h4 style="margin-top: 0;" class="klax-spacer-md">Slack</h4>
      </div>
      <div class="col-md-3">
      	<%= link_to "Create Slack Integration", new_slack_integration_path,class: 'btn btn-default btn-lg btn-block' %>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Channel</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @slack_integrations.each do |integration| %>
        <tr>
          <td><%= integration.channel %></td>
          <td><%= link_to "Edit", edit_slack_integration_path(integration),class: 'btn btn-default btn-block pull-right', style: "max-width: 136px !important;" %>
        </td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


