// Place all the styles related to the Changes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

iframe {
	height: 800px;
	width: 100%;
}
