// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #ff0b3a;
  padding-top: 50px;
}

a {
  color: #ff0b3a;
  border-bottom: 2px solid #ff0b3a;
}

a:hover, a:focus {
  color: #ff0b3a;
  text-decoration: none;
  border-bottom: 2px solid #ff0b3a;
}

.navbar a {
  border-bottom: 0;
}

.dropdown a:hover {
  border-bottom: 0 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color:  rgba(255,11,58, 0.1);
}

.nav > li > a:hover {
  background-color: transparent;
}

.navbar-toggle {
  background-color: #ff0b3a !important;
}

.navbar-toggle .icon-bar {
  background-color: white !important;
}

h1, h2, h3, h4, h5, h6 {
  border-top: 0.2em solid #ff0b3a;
  padding-top: 10px;
}

h1 {
  margin-top: 0;
  font-size: 5.063em;
}

h2 {font-size: 3.375em;}

h3 {font-size: 2.25em;}

h4 {font-size: 1.5em;}

.table > thead > tr > th {
  border-bottom: 2px solid #ff0b3a;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-top: 1px solid #ff0b3a;
  vertical-align: center;
  // padding: 8px 0;
  padding-left: 0;
  word-wrap: break-word !important;
  white-space: normal !important;
}

table tbody tr td:last-child, table thead tr td:last-child  {
  padding-right: 0 !important;
}

.form-control {
  border-radius: 0 !important;
  border: 1px solid #ff0b3a;
  box-shadow: none;
  color: #ff0b3a;
}

.btn {
  border-radius: 0 !important;
  border: 1px solid #ff0b3a;
  color: #ff0b3a;
  border-color: #ff0b3a !important;
}

.btn:hover {
  color: #fff !important;
  background-color: #ff0b3a;
  box-shadow: none;
}


*:focus {
  border-color: #ff0b3a !important;
  box-shadow: none !important;
  outline: none !important;
}

.dropdown a {
  border: none;
  color: #ff0b3a !important;
}

.nav .dropdown .dropdown-menu {
  border-radius: 0 !important;
  border-color: rgba(255,11,58, 0.5);
}

.dropdown-menu {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.dropdown-menu .divider {
  background-color: rgba(255,11,58, 0.5);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: rgba(255,11,58, 0.1) !important;
}

.separator {
  border-color: rgba(255,11,58, 0.5);
}

.jumbotron {
  border: 1px solid #ff0b3a;
  border-radius: 0 !important;
  background-color: transparent;
}

code {
  color: #ff0b3a;
  background-color: rgba(255,11,58, 0.1);
  border-radius: 0;
}

small {
  color: #ff0b3a !important;
}

// custom

.klax-topper {
  padding: 4vh 0;
}

.klax-spacer-lg {
  padding-bottom: 4vh;
}

.klax-spacer-md {
  padding-bottom: 3vh;
}

.klax-spacer-sm {
  padding-bottom: 2vh;
}

.klax-no-border {
  border: 0;
}

.klax-feed-item {
  border-top: 1px solid rgba(255,11,58, 0.5);
  padding-top: 3vh;
}

.diff {
  color: #000000;
  padding: 40px 0;
  background-color: rgba(150,150,150, 0.1);
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 90%;
}
.diff ul {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  overflow: scroll;
  white-space: nowrap;
}
.diff li {
  text-decoration: none !important;
  width: 100%;
}
.diff del {
  text-decoration: none !important;
}
.diff .del {
  background-color: rgba(255,11,58, 0.2);
}
.diff .ins {
  background-color: rgba(0,255,0, 0.2);
}

.diff .ins ins {
  text-decoration: none !important;
}

.diff a:hover {
  background-color: black !important;
  color: white !important;
}

.klax-line {
  width: 20px;
  text-align: right;
  margin-right: 25px;
  display: inline-block;
}

.klax-line-selected, .klax-line-selected a {
  background-color: #ff0b3a !important;
  color: #fff !important;
}

.klax-code-after {
  background-color: rgba(0,255,0, 0.2);
  color: #111 !important;
  font-size: 70%;
}

.klax-code-before {
  background-color: rgba(255,11,58, 0.2);
  color: #111 !important;
  font-size: 70%;
}

.diff a {
  padding: 1px 40px;
  display: block;
  position: relative;
  width: 100%;
  color: black;
  border-bottom: 0;
}

.klax-line-anchor {
  padding:0 !important;
}

.klax-line-anchor {
  display: block; 
  position: relative; 
  top: -50vh; 
  visibility: hidden;
}

// login & marketing

.klax-hero {
  margin-top: -50px;
  padding-top: 50px;
  background-color: #ff0b3a;
  height: 100vh;
  min-height: 900px;
  color: #fff;
  .form-group-lg .form-control {
    height: 45px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff !important;
  }
  .btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff !important;
  }
  .btn:hover {
    background-color: white;
    color: #ff0b3a !important;
  }
  p, h1 {
    text-align: center;
  }
  .klax-lead {
    margin-top: 31vh;
  }
}

