<% bookmarklet_js = "javascript:(function(){document.body.appendChild(document.createElement('script')).src='#{inject_url()}';})();" %>

<div class="klax-topper">
  <div class="container">
    <div class="jumbotron">
    <% if @current_user.pages.empty? %>
      <h1 class="klax-no-border" style="padding-top: 0;">Watch Your First Item</h1>
     <% end %>
      <p>To watch a web page, drag the “Add to Klaxon” button below to your bookmark bar. When on the page you want to watch, click the bookmark. <!-- To watch a file such as an image or document, <a href="#">enter it manually</a> instead.--></p>
      <a class="btn btn-lg" href="<%= bookmarklet_js %>" role="button">Add to Klaxon</a>
    </div>
  </div>
</div>


