<% bookmarklet_js = "javascript:(function(){document.body.appendChild(document.createElement('script')).src='#{inject_url()}';})();" %>

<div class="klax-topper">
  <div class="container">
    <div class="jumbotron">
      <h1 class="klax-no-border" style="padding-top: 0;">Watch Your First Item</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt semper orci, eget molestie orci ullamcorper eu. Curabitur viverra ligula a dolor scelerisque, at tincidunt.</p>
      <a class="btn btn-lg" href="<%= bookmarklet_js %>" role="button">Add to Klaxon</a>
    </div>
  </div>
</div>